*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.rules{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 5%;
    border-collapse: collapse;
    font-size: 2em;
    background-color: #e4d3d379;
}
body{
    background-image: url("bg_image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px auto;
    background-color: #d8c7c752;
}
table tr td{
    width: 90px;
    height: 90px;
    border: 2px solid rgba(207, 201, 175, 0.363);
    font-size: 35px;
    text-align: center;
}
table tr td:hover{
    background-color: #9cbbad3d;
    cursor: pointer;
    border-radius: 15%;
}
.winner{
    width: 200px;
    height: 100px;
    margin: 10px auto;
    font-size: 40px;
    text-align: center;
    
}
.draw{
    width: 500px;
    height: 100px;
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
}
.draw span{
    font-size: 40px;
    display: block;
}
.winner span{
    font-size: 40px;
    display: block;
}
button{
    width: 240px;
    height: 100px;
    margin: 10px auto;
    display: block;
    border: none;
    background-color: #27272715;
    font-size: 40px;
    border-radius: 10%;
}
button:hover{
    background-color: #ffffff;
}